<!DOCTYPE html>
<html>
  <head>
    <title>Репозиторий данных - <%=version%></title>
  </head>
  <body>

    <h3>Описание параметров адресной строки</h3>
    <p>
      TABLE_NAME - имя таблицы для загрузки
      <br />VERSION - версия
      <br />FILE - имя файла это промежуток строк, например 0-10000 или 10000-20000
    </p>

    <h2>CSV с разделителем "|" - архив  (<a href="csv-zip">csv-zip</a>)</h2>
    <p>Формат URL: /csv-zip/[TABLE_NAME]/[VERSION]/[FILE].zip<br />Описание URL: /csv-zip/[TABLE_NAME]/[VERSION]/readme.txt</p>
    <ul>
    <%for(var i in csvZip) {%>
      <li>
          <%=i%>
          <ul>
            <%for(var j = 0; j < csvZip[i].length; j++) {%>
              <li>
                  <span style="font-size: 14px;"><%=csvZip[i][j].VERSION %> от <%=getDate(csvZip[i][j].DATE) %></span><br />
                  <p style="font-size: 12px;margin-left: 10px;"><b>Общее количество строк:</b> <%=csvZip[i][j].TOTAL_COUNT %><br />
                  <b>Количество файлов:</b> <%=csvZip[i][j].FILE_COUNT %><br />
                  <b>Количество строк в файле:</b> <%=csvZip[i][j].PART %><br />
                  <b>Общий размер:</b> <%=getSize(csvZip[i][j].SIZE) %></span>
              </li>
            <%}%>
            </ul>
      </li>
    <%}%>
    </ul>

    <h2>CSV с разделителем "|" (<a href="csv">csv</a>)</h2>
    <p>Формат URL: /csv/[TABLE_NAME]/[VERSION]/[FILE].csv<br />Описание URL: /csv/[TABLE_NAME]/[VERSION]/readme.txt</p>
    <ul>
    <%for(var i in csv) {%>
      <li>
          <%=i%>
          <ul>
            <%for(var j = 0; j < csv[i].length; j++) {%>
              <li>
                  <span style="font-size: 14px;"><%=csv[i][j].VERSION %> от <%=getDate(csv[i][j].DATE) %></span><br />
                  <p style="font-size: 12px;margin-left: 10px;"><b>Общее количество строк:</b> <%=csv[i][j].TOTAL_COUNT %><br />
                  <b>Количество файлов:</b> <%=csv[i][j].FILE_COUNT %><br />
                  <b>Количество строк в файле:</b> <%=csv[i][j].PART %><br />
                  <b>Общий размер:</b> <%=getSize(csv[i][j].SIZE) %></span>
              </li>
            <%}%>
            </ul>
      </li>
    <%}%>
    </ul>

    <h2>JSON - архив (<a href="jsonZip">json-zip</a>)</h2>
    <p>Формат URL: /json-zip/[TABLE_NAME]/[VERSION]/[FILE].zip<br />Описание URL: /json-zip/[TABLE_NAME]/[VERSION]/readme.txt</p>
    <ul>
    <%for(var i in jsonZip) {%>
      <li>
          <%=i%>
          <ul>
            <%for(var j = 0; j < jsonZip[i].length; j++) {%>
              <li>
                  <span style="font-size: 14px;"><%=jsonZip[i][j].VERSION %> от <%=getDate(jsonZip[i][j].DATE) %></span><br />
                  <p style="font-size: 12px;margin-left: 10px;"><b>Общее количество строк:</b> <%=jsonZip[i][j].TOTAL_COUNT %><br />
                  <b>Количество файлов:</b> <%=jsonZip[i][j].FILE_COUNT %><br />
                  <b>Количество строк в файле:</b> <%=jsonZip[i][j].PART %><br />
                  <b>Общий размер:</b> <%=getSize(jsonZip[i][j].SIZE) %></span>
              </li>
            <%}%>
            </ul>
      </li>
    <%}%>
    </ul>

    <h2>JSON (<a href="json">json</a>)</h2>
    <p>Формат URL: /json/[TABLE_NAME]/[VERSION]/[FILE].json<br />Описание URL: /json/[TABLE_NAME]/[VERSION]/readme.txt</p>
    <ul>
    <%for(var i in json) {%>
      <li>
          <%=i%>
          <ul>
            <%for(var j = 0; j < json[i].length; j++) {%>
              <li>
                  <span style="font-size: 14px;"><%=json[i][j].VERSION %> от <%=getDate(json[i][j].DATE) %></span><br />
                  <p style="font-size: 12px;margin-left: 10px;"><b>Общее количество строк:</b> <%=json[i][j].TOTAL_COUNT %><br />
                  <b>Количество файлов:</b> <%=json[i][j].FILE_COUNT %><br />
                  <b>Количество строк в файле:</b> <%=json[i][j].PART %><br />
                  <b>Общий размер:</b> <%=getSize(json[i][j].SIZE) %></span>
              </li>
            <%}%>
            </ul>
      </li>
    <%}%>
    </ul>

  </body>
</html>
